<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @use_type.name %>
  </p>

  <%= link_to 'Edit', edit_use_type_path(@use_type) %> |
  <%= link_to 'Back', use_types_path %>
</div>