<script type='text/javascript' charset='utf-8'>
  document.write(unescape("%3Cscript src='" + (('https:' == document.location.protocol) ? 'https:' : 'http:') + "//podmajersky.appfolio.com/javascripts/listing.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<div class="container">

 
<script type='text/javascript' charset='utf-8'>

  Appfolio.Listing({
    hostUrl: 'podmajersky.appfolio.com',
    //propertyGroup: 'My Group Name',
    themeColor: '#676767',
   height: '500px',
    width: '100%'
  });
</script>
    
</div>