<div class="container">

  <div class="jumbotron">
    <h1>CRM</h1>
      <button type="button" class="btn btn-default"><%= link_to "Residential Leads", residential_leads_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "Commercial Leads", commercial_leads_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "Brokers", brokers_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "Available Units", available_units_path %></button>
  </div>
    
</div>